<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/real_estate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.connection.show_sql">true</property>

        <property name="hibernate.connection.format_sql">true</property>
        <property name="hibernate.connection.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.current_session_context_class">thread</property>

        <mapping class="org.restate.project.model.Person" />

        <!-- List of XML mapping files -->
        <mapping resource="Person.hbm.xml"></mapping>
        <mapping resource="County.hbm.xml"></mapping>
        <mapping resource="Country.hbm.xml"></mapping>
        <mapping resource="Estate.hbm.xml"></mapping>
        <mapping resource="House.hbm.xml"></mapping>
        <mapping resource="Landlord.hbm.xml"></mapping>
        <mapping resource="TenancyAgreement.hbm.xml"></mapping>
        <mapping resource="LandlordAgreement.hbm.xml"></mapping>
        <mapping resource="Tenant.hbm.xml"></mapping>
        <mapping resource="Town.hbm.xml"></mapping>
        <mapping resource="Unit.hbm.xml"></mapping>
        <mapping resource="Agent.hbm.xml"></mapping>
        <mapping resource="PaymentType.hbm.xml"></mapping>
        <mapping resource="Payment.hbm.xml"></mapping>
        <mapping resource="PaymentMode.hbm.xml"></mapping>
        <mapping resource="PaymentDetails.hbm.xml"></mapping>

    </session-factory>
</hibernate-configuration>
